body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, nav, section, footer {
  margin-bottom: 20px;
}

h1, h2 {
  color: #333;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 20px;
}

/* Header 스타일 */
header {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

/* Nav 스타일 */
nav {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin: 0 10px;
}

/* Overview 섹션 스타일 */
.overview {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  border: 4px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact {
  flex: 1;
}

.contact-item {
  margin-bottom: 5px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

/* Education 섹션 스타일 */
.education {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.education h2 {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
}

.education ul {
  list-style-type: disc;
}

/* Projects 섹션 스타일 */
.projects {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.projects h2 {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
}

.projects ol {
  list-style-type: decimal;
}

.project-table-wrapper {
  overflow-x: auto; /* 테이블이 넘칠 경우 가로 스크롤 */
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.project-table img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.project-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.project-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.project-table tr:hover {
  background-color: #ddd;
}

.content {
    flex: 1;
    /* 남은 공간을 모두 차지 */
    padding-bottom: 60px;
    /* footer 높이만큼 padding */
}

footer {
    background-color: #f0f0f0;
    padding: 8px 10px; /* 위아래 padding 줄임 */
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    font-size: 0.75em; /* 폰트 크기 줄임 */
    position: fixed;
    bottom: 0;
    height: auto; /* height 삭제 또는 auto로 설정 */
    line-height: 1.2; /* 줄 간격 조절 */
}
